<?xml version="1.0"?>
<launch>
 
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find mobrob_robin_description)/robots/mobrob_robin_real.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />
    
  <!-- load the joint state publisher -->      
  <rosparam command="load" file="$(find mobrob_robin_driver)/config/odometry.yaml" />
  <node name="joint_state_publisher" pkg="mobrob_robin_driver" type="mobrob_joint_state_publisher" respawn="false"
        output="screen" ns="/mobrob_robin/driver"/>

  <!-- load state publisher -->
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
		<param name="publish_frequency" type="double" value="30.0"/>
	</node>
       

</launch>


