<library path="src">
  <class name="MobrobDashboard" type="mobrob_dashboard.mobrob_dashboard.MobrobDashboard" base_class_type="rqt_gui_py::Plugin">
    <description>
      Dashboard for our mobrob providing service callers.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>mobrob_robin plugin</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
