<?xml version="1.0"?>
<launch>
	  
        <!--start mapping nodes -->
        <include file="$(find mobrob_robin_navigation)/launch/amcl.launch"></include>

        
        <!-- start move base  -->
        <include file="$(find mobrob_robin_navigation)/launch/move_base.launch"></include>
        
</launch>

