<?xml version="1.0"?>

<!-- THE SIMULATION IS DEPRECATED -->
<!-- this files defines simulation related transmission parameters -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mobrob_transmission">
    
    <transmission name="tran_x">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="base_x_joint">
          <hardwareInterface>PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_x">
		  <mechanicalReduction>1</mechanicalReduction>
          <hardwareInterface>PositionJointInterface</hardwareInterface>          
        </actuator>
    </transmission>
    
    <transmission name="tran_y">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="base_y_joint">
          <hardwareInterface>PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_y">
          <hardwareInterface>PositionJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    
    <transmission name="tran_yaw">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="base_yaw_joint">
          <hardwareInterface>PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_yaw">
          <hardwareInterface>PositionJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission> 
    
    
    <!-- Wheel controllers --> 
    
    
    <transmission name="tran_wheel_lf_rot_z">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="wheel_lf_rot_z_joint">
          <hardwareInterface>PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_wheel_lf_rot_z">
		  <mechanicalReduction>1</mechanicalReduction>
          <hardwareInterface>PositionJointInterface</hardwareInterface>          
        </actuator>
    </transmission>
    
    
    <transmission name="tran_wheel_rb_rot_z">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="wheel_rb_rot_z_joint">
          <hardwareInterface>PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_wheel_rb_rot_z">
		  <mechanicalReduction>1</mechanicalReduction>
          <hardwareInterface>PositionJointInterface</hardwareInterface>          
        </actuator>
    </transmission>

</xacro:macro>

</robot>
