<?xml version="1.0"?>
<launch>
  <!-- launches the necessary nodes to use the xbox 360 wireless controller -->
  
  <node pkg="joy" type="joy_node" name="joy_node" output="screen">
	<param name="deadzone" type="double" value="0.3"></param>
  </node>
  
  <node pkg="ros_common_robin_xbox360" type="xbox360_teleop_joy" name="teleop_joy" output="screen">  
	<remap from="/teleop_joy/cmd_vel" to="/mobrob_robin/cmd_vel_joy"/>
  </node>
  
  <include file="$(find mobrob_robin_control)/launch/velocity_smoother.launch"></include> 
  
  
  
  
</launch>
