<?xml version="1.0"?>
<launch>

	<!-- load hardware interface and controller here -->
	<include file="$(find mobrob_robin_driver)/launch/real_interfaces.launch"></include>

	<!-- laser scanner -->
	<include file="$(find sick_pls200)/launch/pls200.launch"></include>
	
	<!-- ultrasound sensors -->
	<include file="$(find mobrob_robin_ultrasound)/launch/ultrasound.launch"></include>
	
	
	
	
	<include file="$(find ros_common_robin_clear_costmap)/launch/clear_costmap.launch"></include>
	
	<!-- AMCL + MOVEBASE -->
	<include file="$(find mobrob_robin_navigation)/launch/complete_amcl.launch"></include>
	
	<!-- diagnostics -->
	<include file="$(find mobrob_robin_diagnostics)/launch/diagnostics.launch"></include>
	
	<!-- cmd_vel_controller -->
	<include file="$(find mobrob_robin_control)/launch/cmd_vel_controller.launch"></include>
	
	<!-- joystick -->
	<include file="$(find mobrob_robin_bringup)/launch/joystick_teleop.launch"></include>
	
</launch>
