<?xml version="1.0"?>

<!-- THE SIMULATION IS DEPRECATED -->
<!-- this file load the gazebo ros controllers -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
  <!-- ros_control plugin for joint commands -->
    
  <plugin name="gazebo_ros_controller" filename="libgazebo_ros_control.so">
    <robotNamespace>/mobrob_robin</robotNamespace>
  </plugin>
    
  </gazebo>
  

</robot>
